@model IEnumerable<Parlit.Models.Post>

@{
    ViewData["Title"] = "Index";
}





@foreach (var p in Model)
{
    <div>
        <h1 class="display-4">Posted By: @p.userID</h1>
        <p>@p.content</p>
    </div>
}